@registry=https://gitlab.com/api/v4/packages/npm/

'//gitlab.com/api/v4/packages/npm/:_authToken'="${GITLAB_AUTH_TOKEN}"

'//gitlab.com/api/v4/projects/61460241/packages/npm/:_authToken'="${GITLAB_AUTH_TOKEN}"
